@import './index';
.task {
	width: 90%;
	height: 55px;
	margin: 10px;
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	position: relative;
}
.task__body {
	position: absolute;
	width: 100%;
	height: 55px;
	z-index: 100;
	background-color: var(--color-white);
	border-radius: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.link {
	width: 90%;
	height: 55px;
	text-decoration: none;
	cursor: default;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}
.label {
	width: 6px;
	height: 30px;
	border-radius: 5px;
	background-color: var(--color-red);
	margin-left: 15px;
	pointer-events: none;
}
.label-done {
	background-color: var(--color-greyish);
}
.text {
	width: max-content;
	color: var(--color-dark);
	font-size: 1.8rem;
	text-align: left;
	padding-left: 10px;
	pointer-events: none;
}
.text-done {
	color: var(--color-greyish);
	text-decoration: line-through;
}
.task button {
	width: 50%;
	height: 50px;
	border: 0px;
	display: flex;
	align-items: center;
	border-radius: inherit;
	position: absolute;
}
.task__config {
	left: 10px;
	background-color: var(--color-greyish);
	justify-content: flex-start;
}
.task__trash {
	background-color: var(--color-red);
	right: 10px;
	justify-content: flex-end;
}

.icon {
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 40px;
}
.icon__img {
	width: 20px;
	pointer-events: none;
}

@media (min-width: 560px) {
	.task {
		width: 60%;
	}
}
@media (min-width: 800px) {
	.task {
		width: 40%;
	}
}
